.header{
    background-image: url(../../../img/BGimage.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
}

.header_part_1{  

    width: 100%;
    height: 5px;
    background-color: #4e4751;    
}

.header_part_2{  
    width: 100%;
    height: 65px;   
    background-color: #f3d43d;
    box-sizing: border-box;
      
    h1,p {
        display: inline-block;
        color: #4e4751;
    }
    p{
        font-size: 17px;        
    }   
    h1{           
        font-size: 20px;                           
    }  
    .logo{
        position: relative;
        img{
            position: absolute;
            top: 3px;
        }
        h1{
            position: absolute;
            left: 70px;
            top:5px
        }     
    }
    .contact{       
        p{
            margin-left: 14px;
            margin-top: 25px;         
        }
        img{
            margin-left: 25px;
        }
    }
    
}
         
.header_part_3{  
    background-color: #ffffff;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center; 
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    .menu{
        display: flex;
        justify-content: space-between;
    }   
    
    a{
        font-size: 18px;
        color: #5b5b5b;
        text-decoration: none;
    }
}

.header_part_4{
    padding-top: 70px;
    text-align: center;
    h1{
        font-size: 60px;
        color: #ffffff; 
        line-height: 50px; 
        text-shadow: 0px 2px 5px rgba(0,0,0,0.5);   
        span{
            color: #f3d43d;
        }
    }
    p{
        margin-top: 34px;
        font-size: 20px;
        color: #ffffff;
    }
    button{
        height: 40px;
        width: 145px;
        background-color:#f3d43d;
        border:1px #f3d43d solid;
        border-radius: 20px;
        font-size: 18px;
        color: #4e4751;
        cursor: pointer;
       
    }   
}