.register-form {
    .container {
        text-align: center;
    }
    form {
        display: block;
        margin: 50px auto;
        padding: 15px;
        div{
            justify-content: space-between;
            padding: 0px;
            margin: 0px;
            p{
                margin-top: 24px;
            }
        }
    }
    input, button {
        margin-top: 10px;
    }
    button a {
        text-decoration: none;
        color: $btn--bg-color-primary_3--hover;
    }
    .btn--show_all:hover{
        a{
            color: $btn--color-primary_3--hover;
        }
    }
}