<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-auto">Квартири</div>
                <div class="col-auto">Будинки</div>
                <div class="col-auto">Новобудови</div>
                <div class="col-auto">Елітне житло</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                    <article class="col-2">
                        <header>
                            Lorem <span class="yellow">Ipsum</span> ProximaNova-Light 25px rgba(255,255,255,255), rgba(243,212,61,255)
                        </header>
                        <main>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem. Nullam et placerat
                            urna.
                            Etiam
                            nec tortor nec augue sagittis tincidunt. Curabitur id mi sed mauris vehicula gravida. Duis
                            egestas
                            in
                            dolor vel tincidunt. Sed nisl mauris, pulvinar vitae aliquet ut, fermentum non est. In porta
                            ligula
                            metus. Vestibulum sed diam ut quam condimentum porta sagittis nec est. ProximaNova-Regular
                            14px
                            rgba(196,196,195,255)
                        </main>
                    </article>
                    <article class="col-2">
                        <header>
                            Lorem Ipsum ProximaNova-Light 25px rgba(255,255,255,255), rgba(243,212,61,255)
                        </header>
                        <main>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                            dapibus,
                            euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem. Nullam et placerat
                            urna.
                            Etiam
                            nec tortor nec augue sagittis tincidunt. Curabitur id mi sed mauris vehicula gravida. Duis
                            egestas
                            in
                            dolor vel tincidunt. Sed nisl mauris, pulvinar vitae aliquet ut, fermentum non est. In porta
                            ligula
                            metus. Vestibulum sed diam ut quam condimentum porta sagittis nec est. ProximaNova-Regular
                            14px
                            rgba(196,196,195,255)
                        </main>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-auto">Головна</div>
                <div class="col-auto">Про нас</div>
                <div class="col-auto">Гарантії</div>
                <div class="col-auto">Що пропонуємо</div>
                <div class="col-auto">Замовити</div>
                <div class="col-auto">Ціни</div>
                <div class="col-auto">Відгуки</div>
                <div class="col-auto">Знижки</div>
                <div class="col-auto">Контакти</div>
            </div>
        </div>
    </div>
</footer>