<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-auto mx-4">Квартири</div>
                <div class="col-auto mx-4">Будинки</div>
                <div class="col-auto mx-4">Новобудови</div>
                <div class="col-auto mx-4">Елітне житло</div>
            </div>
        </div>
    </div>
    <div class="container-fluid align-items-center d-flex">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                        dapibus,
                        euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                        dapibus,
                        euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                        dapibus,
                        euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                    </main>
                </article>
                <article class="col-3 pr-5">
                    <header class="mb-4">
                        Lorem <span class="yellow">Ipsum</span>
                    </header>
                    <main>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Integer efficitur lectus et felis
                        dapibus,
                        euismod pretium nisi iaculis. Sed non sagittis ex Duis id commodo lorem.
                    </main>
                </article>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-between py-3">
                <div class="col-auto">Головна</div>
                <div class="col-auto">Про нас</div>
                <div class="col-auto">Гарантії</div>
                <div class="col-auto">Що пропонуємо</div>
                <div class="col-auto">Замовити</div>
                <div class="col-auto">Ціни</div>
                <div class="col-auto">Відгуки</div>
                <div class="col-auto">Знижки</div>
                <div class="col-auto">Контакти</div>
            </div>
        </div>
    </div>
</footer>