<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-auto">Квартири</div>
                <div class="col-auto">Будинки</div>
                <div class="col-auto">Новобудови</div>
                <div class="col-auto">Елітне житло</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                2
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center py-2">
                <div class="col-auto">Головна</div>
                <div class="col-auto">Про нас</div>
                <div class="col-auto">Гарантії</div>
                <div class="col-auto">Що пропонуємо</div>
                <div class="col-auto">Замовити</div>
                <div class="col-auto">Ціни</div>
                <div class="col-auto">Відгуки</div>
                <div class="col-auto">Знижки</div>
                <div class="col-auto">Контакти</div>
            </div>
        </div>
    </div>
</footer>