<section>
    <div class="container">
        <div class="row">
            <div class="col-12 about">
                <article class="my-5">
                    <p class="text-title">
                        Вибір власного житла- це один з найважливіших рішень у житті людини. Це не дивно, адже від вибору житла залежатиме комфорт і затишок проживання в певному середовищі кожної людини.<br>Саме тому перед придбанням нової квартири, потрібно обов'язково ретельно підійти до цього питання, щоб не помилитися і зробити максимально правильний вибір квартири для свого подальшого життя.
                    </p>
                </article>
                
            </div>
        </div>
    </div>
</section>