@font-face {
    font-family: 'Proxima-Nova';
    src: url(../../../fonts/ProximaNova-Regular.woff)
}

@font-face{
    font-family: 'Proxima-Semibold';
    src:url(../../../fonts/ProximaNova-Semibold.woff)
}
@font-face{
    font-family: 'Proxima-Nova-Light';
    src:url(../../../fonts/ProximaNova-Light.woff)
}
@font-face{
    font-family: 'Proxima-Nova-Bold';
    src:url(../../../fonts/ProximaNovaCond-Bold.woff)
}
@font-face{
    font-family: 'Proxima-Nova-Black';
    src:url(../../../fonts/ProximaNova-Black.woff)
}
.container{
    margin-top: 25px;
    margin-bottom: 25px;
}
h2{
    font-family: 'Proxima-Nova-Bold';
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: #4b434f;
}
h3{
    font-family: 'Proxima-Semibold';
    text-transform: uppercase;
    font-size: 30px;
    color: #4b434f;
    text-align: center;
}
h4{
    font-family: 'Proxima-Semibold';
    text-transform: uppercase;
    text-align: center;
    color: #4b434f;
    margin-top: 10px;
    cursor: pointer;
}
p{
    font-family: 'Proxima-Nova-Light';
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #4b434f;
    line-height: 24px;
}
button{
    margin: 10px auto;
    height: 40px;
    width: 145px;
    background-color:#f3d43d;
    border: solid 1px #f3d43d;
    border-radius: 20px;
    font-size: 18px;
    color: #4e4751;
    font-family: Proxima-Semibold;
    cursor: pointer;
    padding: 0;
}
span{
    color: #f3d43d
}
img{
    display: block;
    margin: 0 auto;
}
.lightgrey{
    background-color: #f2f2f2;
    padding: 25px 0px 100px 0px
}
.house_level{
    justify-content: center;
}
.advantages_list{
    padding: 25px;
}
.house_level img{
    width: 285px;
    height: 219px;
    margin-top: 10px;
}
.house_level button{
    display: block;
    width: 215px;
    margin-top: 20px; 
}
#standart, #luxory, #premium{
    display: block;
    cursor: pointer;
    margin: 10px;
    width: 325px;
    height: 330px;
    padding: 20px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.text_div{
    display: none;
    width: 90%;
}
.text_div:nth-child(2){
    display: inline-block;
    margin: 0 auto;
}
#carousel img{
    cursor: pointer;
}
#carousel{
    position: relative;
}
.quote_hr_div{
    border-bottom: solid 2px #4e4751;
    margin: 25px auto;
    height: 50px;
    justify-content: center;
}
.qoute_circle{
    background-color: #4e4751;
    height: 42px;
    border-radius: 50%;
    margin-top: 26px;
}
.qoute_circle p{
    font-family: Proxima-Nova-Bold;
    color: white;
    font-size: 55px;
    line-height: 0px;
    display: block;
    position: absolute;
    top: -50px;
    left: 6.5px;
}
#carou_left, #carou_right{
    height: 100%;
    cursor: pointer;
    display: inline;
}
#carou_right{
    cursor: pointer;
}
#root span{
    color:#4e4751;
    text-transform: uppercase;
}