.btn--header_login {
  width: 65px;
  height: 16px;
  @include font(22px, $font-proximanova-semibold, $standart--color__1, 400);
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  text-decoration: none;
  background: url("../img/Login.svg") no-repeat 100%;
  width: 115px;
  height: auto;
  display: inline-block;
}

.btn--forward {
  width: 166px;
  height: 49px;
  @include button(18px, $font-proximanova-semibold, $btn--color-primary_1, $btn--color-primary_1, 400);
  line-height: 18px;
  letter-spacing: 1.1px;
  border-radius: 30px;
}