h1,
h2,
h3,
h4,
h5,
h5,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

// Заголовки
h1 {
  @include fonts(40px, "Proxima Nova Black", $font-h1--color-primary, 600);
}
h2 {
  @include fonts(35px, "Proxima Nova Bold", $font-h1--color-primary, 400);
}
h3 {
  @include fonts(27px, "Proxima Nova Semibold", $font-h3--color-primary, 400);
}

// Параграфи
.main-text {
  @include fonts(15px, "Proxima Nova Regular", $font-text--color-primary, 400);
  line-height: 24px;
}

.text-title {
  @include fonts(15px, "SF UI Text", $font-text--color-primary, 400);
  line-height: 24px;
}

// Списки
.list-check {
  list-style-image: url(img/check.png);
  @include fonts(15px, "Proxima Nova Regular", $font-text--color-primary, 400);
  line-height: 36px;
}
// Інпути
input {
  background-color: $default--color__1;
  border: $default--color__2 solid 1px;
  width: 100%;
  @include fonts(15px, "Proxima Nova Regular", $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
input:active {
  background-color: $default--color__1;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, "Proxima Nova Regular", $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}
input:hover {
  background-color: bg-main--color-primary_2;
  border: $btn--bg-color-primary_1 solid 1px;
  width: 100%;
  @include fonts(15px, "Proxima Nova Regular", $font-text--color-primary, 400);
  padding: 15px;
  height: 45px;
  border-radius: 30px;
}

// Лінки
.menu{
    a{
        @include fonts(18px, "SF UI Text", $font-text--color-primary, 400);
    }
    a:hover{
        @include fonts(18px, "SF UI Text", $font-text--color-primary, 400);
        background-color: $btn--bg-color-primary_2--hover;
    }
}

.menu-footer{
    a{
        @include fonts(18px, "SF UI Text", $default--color__1, 400);
    }
    a:hover{
        @include fonts(18px, "SF UI Text", $font-span--color-primary, 400);
    }
}

.link-footer{
    a{
        @include fonts(14px, "Proxima Nova Regular", $font-text-footer--color-primary_3, 400);
    }
    a:hover{
        @include fonts(14px, "Proxima Nova Regular", $font-span--color-primary, 400);
    }
}

