// Background colors
$bg-header--color-primary_1: #f3d43d;
$bg-footer--color-primary_1: #363636;
$bg-main--color-primary_1: #fafafa; //color before comments
$bg-main--color-primary_2: #fefdf6; //flats-one
$bg-main_tables--color-primary: #f9ce3a;

// Text colors

$font-h1--color-primary: #574f5b;
$font-h3--color-primary: #e95138;

$font-span--color-primary: #fac920;

$font-text-footer--color-primary_1: #eff0f0; //Lorem
$font-text-footer--color-primary_2: #f3d43d; //Ipsum
$font-text-footer--color-primary_3: #c4c4c3; //middle zone text
$font-text--color-primary: #5d5d60;

// Button colors

$btn--color-primary_1: #4b434f;
$btn--bg-color-primary_1: #f3d43d;

$btn--color-primary_2--hover: #ffffff;
$btn--bg-color-primary_2--hover: #f7941e;

$btn--color-primary_3--hover: #4b434f;
$btn--bg-color-primary_3--hover: #ffffff;

// Standart collors
$standart--color__1: #fff;
$standart--color__2: #5d5d60;
$standart-footer--box-shadow: #000;

//Rgba colors
$rgba--color-primary_1: rgba(54,54,54,.92);
$rgba-shadow-color-primary_1: rgba(0,0,0,.7);


