@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.css';

@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'settings';

@import 'buttons';



@import 'views/header';
@import 'views/header_internal';
@import 'views/footer';

@import 'views/main_home';
@import 'views/about';