{% load static %}
<header>
{% if not header_h1 %} 
    <div class="container-fluid header">
{% else %}
    <div class="container-fluid header_2">
{% endif %}
        <div class="header_part_1">
        </div>
        <div class="container-fluid header_part_2 login">
            <div class="container header_part_2">
                <div class="row header_part_2">
                    <div class="col-5 logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/Logo.png' %}" alt="Logo">
                            <span>GREAT<br>DECISION</span>
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="offset-4 col-1 align-self-center enter" href="{% url 'dashboard' %}"
                        {% if 'dashboard' in request.path %}
                        style="color:red"
                        {% else %}
                        {% endif %}
                        >Welcome {{ user.username }}</a>
                        <a class="col-1 align-self-center register" href="javascript:{document.getElementById('logout').submit()}" >Вихід</a>
                        <form action="{% url 'logout' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    {% else %}
                        <a class="offset-4 col-1 align-self-center enter" href="{% url 'login' %}">Вхід</a>
                        <a class="col-1 align-self-center register" href="{% url 'register' %}">Реєстрація</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="header_part_3">
            <div class="container">
                <div class="row">
                    <div class="col-12  menu">
                        <a {% if request.path == "/" %} class="menu-active" {% endif %} href="{% url 'index' %}">Головна</a>
                        <a href="/about">Про нас</a>
                        <a href="/guarantee">Гарантії</a>
                        <a href="/we_offer">Що пропонуємо</a>
                        <a href="/order">Замовити</a>
                        <a href="/prices">Ціни</a>
                        <a href="/testimonials">Відгуки</a>
                        <a href="/discounts">Знижки</a>
                        <a href="/contact_us">Контакти</a>
                    </div>
                </div>
            </div>
        </div>
{% if not header_h1 %}
        <div class="header_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="name_1">
                            Ексклюзивне <span>житло</span> <br> в твоєму місті
                        </div>
                        <p>
                            Ми підберемо житло саме під вас, ми працюємо <br>
                            для найвибагливіших клієнтів
                        </p>
                        <form action="{% url 'about' %}">
                            <button class="btn--forward">Більше >></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% else %}
        <div class="header_2_part_4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            {{ header_h1|safe }}
                        </h1>
                        <p>
                            {{ header_p|safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </div>
</header>
